#include "resource.h"

// ビットマップの登録
// ID       TYPE    FILENAME
IDB_IMAGE  BITMAP  "pomodoro.bmp"
/* 魔王魂 戦闘効果音 銃01 https://maou.audio/se_battle_gun01/ */
IDR_SOUND  WAVE    "maou_se_battle_gun01.wav"
