#include <windows.h>
#include "resource.h"
#pragma code_page(932)

// アイコン
IDI_ICON ICON "icon.ico"

// メニューバーの定義
IDR_MENU MENU
BEGIN
    POPUP "ファイル(&F)"
    BEGIN
        MENUITEM "終了(&X)", IDM_EXIT
    END
    POPUP "ツール(&T)"
    BEGIN
        MENUITEM "設定(&S)...", IDM_SETTINGS
    END
    POPUP "ヘルプ(&H)"
    BEGIN
        MENUITEM "このソ\フトについて(&A)...", IDM_ABOUT // "フ"がダメ文字?
    END
END

// 設定ダイアログの定義
IDD_SETTINGS DIALOGEX 0, 0, 220, 160
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "時間設定"
FONT 9, "MS UI Gothic"
BEGIN
    // --- 作業時間グループ ---
    GROUPBOX "作業時間 (分)",IDC_STATIC,10,10,200,50
    CONTROL  "",IDC_SLIDER_WORK,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,20,25,120,20
    EDITTEXT IDC_EDIT_WORK,150,25,40,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL  "",IDC_SPIN_WORK,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,180,25,11,14
    // --- 休憩時間グループ ---
    GROUPBOX "休憩時間 (分)",IDC_STATIC,10,80,200,50
    CONTROL  "",IDC_SLIDER_BREAK,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,20,95,120,20
    EDITTEXT IDC_EDIT_BREAK,150,95,40,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL  "",IDC_SPIN_BREAK,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,180,95,11,14

    // OK ・ キャンセル ボタン
    DEFPUSHBUTTON   "OK",IDOK,55,140,50,14
    PUSHBUTTON      "キャンセル",IDCANCEL,115,140,50,14
END

// Aboutダイアログの定義
IDD_ABOUT DIALOGEX 0, 0, 100, 60
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "このソ\フトについて"
FONT 12, "MS UI Gothic"
BEGIN
    ICON      IDI_ICON,              IDC_STATIC,15, 3,  0, 0
    LTEXT     "集中タイマー for Mac",IDC_STATIC,15,20,100,30
    LTEXT     "version 1.0.0"       ,IDC_STATIC,15,40,100,30
END
